<!DOCTYPE html>
<div class="container-fluid">
    <h4>
    <ul >

   
        <ul class="list-group">Personal Info:
            <li class="list-group-item">name: {{user.firstName}} {{user.lastName}}</li>
            <li class="list-group-item">age: {{user.age}}</li>
        </ul>
        <ul class="list-group">Skills:
            <li class="list-group-item" *ngFor="let skill of user.skills">{{skill}}</li>
        </ul>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="btn-group btn-group row align-items-center col col-sm-4">
                    <button class="btn btn-success" [hidden]="user.getMax()" (click)="onLikeClick(user)">Like</button>
                    <button class="btn btn-danger"  [hidden]="user.getMin()" (click)="onDislikeClick(user)">Dislike</button>
                </div>
                <div class="col-md-auto">
                    <p class="h2" id="count" [ngStyle]="user.getStyle()">{{user.getRating()| customPipe}}</p>
                </div>
                <div class="btn-group btn-group row align-items-center col col-sm-4">
                    <button class="btn btn-secondary" (click)="onEditButtonClick(user)">{{user.getStatusLable()}}</button>
                    <button class="btn btn-secondary" (click)="onUpdateButtonClick(user)">{{user.getUpdateLable()}}</button>
                </div>
            </div>
        </div>           
        <p [hidden]="user.getIsHidden()"> <input type="text" [(ngModel)] ="user.firstName"></p>       
        <ul [hidden]="isHidden()">InternalError: {{getErrorMessage()}}</ul>         
    </ul>
    </h4>
</div>


